body {
  margin-top: 15vh;
  background-color: white;
  text-align: center;
  background-image: url("https://img.freepik.com/free-vector/white-gold-hexagon-pattern-background_53876-115292.jpg?w=2000");
  background-position: bottom left;
  background-size: 100%;
  position: absolute;
  z-index: -1;
}

.ul-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 8vh;
  margin-right: 8vh;
  padding-top: 2vh;
}

h3 {
  text-decoration: underline;
}

#container {
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 3px;
  border-color: black;
  border-radius: 10px;
  border-style: groove;
  height: 70vh;
  width: 60vw;
  margin-left: 20vw;
  font-size: 1em;
}

#logo {
  font-size: 6em;
}
